@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700|Open+Sans:700|Roboto|Lato|Raleway:800|EB+Garamond|Kadwa|Lora&display=swap');
*{
  box-sizing: border-box;
}

body, html{
  margin: 0px;
  padding: 0px;
}

body{
  display: flex;
  flex-direction: column;
}

hr{

}

.navBar{
  display: grid;
  grid-template-columns: auto, 10%, auto;
  grid-template-rows: 100%;
  width: 100vw;
  height: 8vh;
  background-color: rgb(33,38,44);
  align-items: center;


}

.navButtonWrapper{
  grid-column-start: 1;
  grid-column-end: 2;
  height: 100%;
  width: 20vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;


}

.navButton{
  transition-duration: 0.5s;
  border-radius: 4pt;
  padding: 4pt;
}

.navButton a{
  font-size: 20pt;
  font-family: "Open Sans";
  color: grey;

}

.navButton:hover{
  background-color: white;

  transition-duration: 0.5s;
}

.logo{
  grid-column-start: 2;
  grid-column-end: 3;
  height:5vh;
  width: 5vh;
  background-image: url("../static/emoji.jpg")
}


h1{
  font-size: 120pt;
  font-family: "Nunito Sans";
  margin-top: 1vh;
  margin-bottom: 1vh;

}



h2{
  font-size: 100pt;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  font-family: "Open Sans"
}
h3{
  font-size: 80pt;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  font-family: "Raleway"
}
h4{
  font-size: 60pt;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  font-family: "Kadwa"
}
h5{
  font-size: 40pt;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  font-family: "Roboto"
}
h6{
  font-size: 20pt;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  font-family: "Lato"
}

p{
  font-size: 18pt;
  font-family: "Lora"
}


.navSub{
  margin-top:3vh;
  margin-left: 1.5vw;
  margin-right:1.5vw;
  font-size: 3.5vh;
  font-family: sans-serif;
  background-color: black;
  width: 100px;
  height: 40px;
  text-align: center;
  transition-duration: 0.25s;
}

.navSub:hover{
  width: 120px;
  height: 45px;
  transition-duration: 0.25s;
}




.linkButton{
  color: grey;
  transition-duration: 0.25s;
  text-decoration: none;

}
.linkButton:hover{
  color: white;
  text-decoration: underline;
  transition-duration: 0.25s;
}


#c01{
  background-color: rgb(248, 219, 104);

}

#c02{
  background-color: rgb(241, 220, 152);

}
#c03{
  background-color: rgb(101, 180, 204);

}
#c04{
  background-color: rgb(237, 147, 63);

}
#c05{
  background-color: rgb(242, 184, 110);

}
#c06{
  background-color: rgb(212, 80, 38);

}
#c07{
  background-color: rgb(219, 151, 109);

}
#c08{
  background-color: rgb(249, 244, 231);
  width: 500px;
  height: 500px;

}
#c09{
  background-color: rgb(131, 135, 138);
  width: 500px;
  height: 500px;

}

#c10{
  background-color: rgb(33,38,44);
  width: 500px;
  height: 500px;
}
